{% extends 'base.html' %}
{% load static %}
{% block title %}MyCatch-delete - {% endblock title %}
{% block content %}


<div class="container d-flex align-items-center justify-content-center" style="height: 60vh">
    <form action="" method="POST">
        {% csrf_token %}
        <h1>Voulez vous vraiment supprimer votre prise ?</h1>
            <div>
                <button class="btn btn-danger" type="submit">Supprimer</button>
                <a class="btn btn-secondary" href="{% url 'my_catch' %}">Back</a>
            </div>
    </form>
</div>

{% endblock content %}