{% extends 'base.html' %}
{% load static %}
{% block title %}CatchFish - {% endblock title %}
{% block content %}

<h1 class="text-center text-primary mt-5">Mon profil</h1>
<div class="container d-flex flex-row justify-content-center">
    <div class="card bg-dark m-5" style="width: 20rem;">
        <img src="{{ user_profile.avatar.url }}" class="card-img-top" alt="photo de profil">
        <div class="card-body">
            <h5 class="card-title text-center text-primary">{{ request.user.profile.pseudo|title }}</h5>
        </div>
    
        <ul class="bg-dark list-group list-group-flush">
            <li class="bg-dark text-white list-group-item">Nom : {{ user_profile.name|title }}</li>
            <li class="bg-dark text-white list-group-item">Prénom : {{ user_profile.first_name|title }}</li>
            <li class="bg-dark text-white list-group-item">Nombre de prise : {{ count }}</li>
        </ul>
    
        <div class="card-body">
            <div>
                <a href="{% url 'edit_profile' %}" class="card-link text-white">Modifier votre profil</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}