@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'RobinGraffiti';
    src: local('RobinGraffiti'), url('../fonts/RobinGraffitiFilledin.ttf') format("opentype");
}

:root {
    --main-color: #0d6efd;
}

body {
    background: rgb(24, 23, 23);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ion-icon {
    pointer-events: none;
}


/* navbar */

.logo {
    width: 60px;
}

.navigation ul a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation ul a .text {
    position: absolute;
    opacity: 0;
    margin-top: 40px;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    margin-top: 15px;
    font-size: 1.6rem;
    color: #fff;
}

.navigation ul li a .icon:hover {
    color: var(--main-color);
    transition: 0.5s;
}

.navigation ul li a .icon2 {
    font-size: 1.8rem;
}

.navigation ul li.active a .icon {
    color: var(--main-color);
}

.navigation ul li.active a .text {
    opacity: 1;
    transition: opacity 0.6s linear;
    color: var(--main-color);
}

/* end navbar */


/* footer */

footer {
    margin-top: auto;
}

footer ul li a .icon {
    font-size: 1.5rem;
    color: #fff;
}

footer ul li a .icon:hover {
    color: var(--main-color);
    transition: 0.5s;
}


/* end footer */


/* carousel */

#myCarousel {
    margin-top: auto;
}

#myCarousel h1 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-shadow: rgb(9, 8, 80) 2px 0 5px;
}

#myCarousel p {
    text-shadow: rgb(9, 8, 80) 2px 0 5px;
    font-size: x-large;
}

.carousel-item {
    height: 30rem;
    color: white;
    position: relative;
}

.container-carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 40px;
}

.overlay-image {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}


/* end carousel */


/* form */

.lvsform {
    margin: 40px auto;
    max-width: 500px;
    background-color: #343a40;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

form .title {
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    color: var(--main-color);
    font-weight: 600;
}

form .error {
    height: 15px;
}

form .error ul li {
    list-style: none;
}

.form-group {
    margin: 30px 20px 0px 20px;
    position: relative;
}

.form-group button {
    margin: auto;
}

.form-group p {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.lvsform form .form-group i {
    background: var(--main-color);
    color: #fff;
    font-size: 20px;
    width: 38px;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 8px 0 0 8px;
}

.lvsform form .form-group input {
    padding-left: 45px;
    border-radius: 9px 5px 5px 9px;
}

.lvsform form .form-group button {
    display: flex;
    justify-content: center;
}

.lvsform .errorlist {
    margin-left: 0;
}

.lvsform .error {
    margin-left: 30px;
}

@media (max-width: 580px) {
    .lvsform {
        margin: auto;
        max-width: 300px;
    }
    form .title {
        margin-top: 15px;
        font-size: 20px;
    }
    .form-group {
        margin: 15px 10px 0px 10px;
    }
    .lvsform form .form-group input {
        height: 30px;
    }
    .form-group .text-white ul li {
        font-size: 13px;
    }
}

@media (max-width: 300px) {
    .lvsform {
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 260px;
    }
    form .title {
        margin-top: 10px;
        font-size: 18px;
    }
    .lvsform form .form-group input {
        font-size: 14px;
    }
}


/* endform */


/* ------------------ */

@media (max-width: 580px) {
    /* navbar */
    .navbar-brand {
        margin: 0;
    }
    .navigation ul .list {
        width: 39px;
    }
    .navigation ul li a .icon {
        font-size: 1rem;
    }
    .navigation ul li a .text {
        font-size: 0rem;
    }
    .logo {
        width: 0px;
    }
    /* end navbar */
    /* carousel */
    .carousel-item {
        height: 22rem;
    }
    #myCarousel p {
        font-size: 1rem;
    }
    #myCarousel a {
        font-size: 1rem;
    }
    /* end carousel */
}

/* stats page */
.stats {
    position: relative;
    padding: 1rem;
}

.stats button {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    padding: 0;
}

.btn-display:focus {
    box-shadow: none;
}

.stats button ion-icon {
    font-size: 30px;
    padding: 0;
}

td img {
    width: 100px;
    overflow: hidden;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

td img:hover {
    -webkit-transform:scale(5) translate(0,-9px); /* Safari et Chrome */
    -moz-transform:scale(5) translate(0,-9px); /* Firefox */
    -ms-transform:scale(5) translate(0,-9px); /* Internet Explorer 9 */
    -o-transform:scale(5) translate(0,-9px); /* Opera */
    transform:scale(5) translate(0,-9px);
}

@media (max-width: 580px) {
    .container-stats {
        padding-right: 0;
        padding-left: 0;
    }
    .stats {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
    }
    .stats h4 {
        font-size: 100%;
        margin: 0;
        padding-right: 20px;
    }
    .stats button {
        top: 13px;
        right: 4px;
    }
    .stats button ion-icon {
        font-size: 20px;
    }
    th {
        font-size: 75%;
    }
    td {
        font-size: 80%;
    }
    td img {
        width: 60px;
    }
    td img:hover {
        -webkit-transform:scale(3) translate(0,-3px); /* Safari et Chrome */
        -moz-transform:scale(3) translate(0,-3px); /* Firefox */
        -ms-transform:scale(3) translate(0,-3px); /* Internet Explorer 9 */
        -o-transform:scale(3) translate(0,-3px); /* Opera */
        transform:scale(3) translate(0,-3px);
    }
}

/* search */

.search-container .lvsform {
    position: relative;
}
.search-container .lvsform form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loader {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.loader .ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 1.5s linear infinite;
}
@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px blue;
    }
    25% {
        transform: rotate(90deg);
        box-shadow: 1px 5px 2px rgb(0, 81, 255);
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px rgb(0, 174, 255);
    }
    75% {
        transform: rotate(270deg);
        box-shadow: 1px 5px 2px rgb(0, 81, 255);
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px blue;
    }
}
.loader .ring::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.loader span {
    color: #0d6efd;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    animation: text 2s ease-in-out infinite;
}
@keyframes text {
    50% {
        opacity: 0;
    }
}

@media (max-width: 580px) {
    .loader {
        left: 0;
        top: 80%;
    }
    .loader .ring {
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        animation: ring 1.5s linear infinite;
    }
    .search-container .title {
        margin: 1.5rem !important;
    }
    .search-container .title h3 {
        font-size: 1rem !important;
    }
    .search-container .lvsform {
        margin-bottom: 1rem !important;
    }
    .search-container .lvsform .row .col-auto {
        margin-bottom: 1rem !important;
    }

}
/* end search */