{% extends 'base.html' %}
{% load static %}
{% block title %}Search - {% endblock title %}
{% block content %}

<div class="container search-container">
    <div class="title text-center text-white m-5">
        <h3 class="text-primary">Vous êtes à la pêche?</h3>
        Gagnez du temps avec la recherche par condition
    </div>
    <div class="container logform mb-3">
        <form method="POST" id="search-form">
            {% csrf_token %}
            <div class="title mb-5">
                Search top3
            </div>
            <div class="row">
                <div class="col-auto mb-5">
                    <label class="text-white" for="skystate">Etat du ciel :</label>
                    {{ form.skystate}}
                </div>
                <div class="col-auto mb-5">
                    <label class="text-white" for="waterstate">Etat de l'eau :</label>
                    {{ form.waterstate }}
                </div>
            </div>
            
            
            <button type="submit" class="btn btn-primary col-4 m-3" id="top3-submit">Valider</button>
        </form>
        <div name="loader" class="loader d-none">
            <div class="ring"></div>
            <span>loading...</span>
        </div>
    </div>
    <div class="container" id="result" style="max-width: 660px;"></div>
</div>

{% endblock content %}
