{% extends 'base.html' %}
{% load static %}
{% block title %}CatchFish - {% endblock title %}
{% block content %}

<h1 class="title text-center text-primary m-5">Ajouter une prise</h1>
<div class="container lvsform">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="text-white" for="lure">Leurre utilisé : </label>
            {{ form.lure }}
        </div>
        <div class="form-group">
            <label class="text-white" for="color_lure">Couleur du leurre : </label>
            {{ form.color_lure }}
        </div>
        <div class="form-group">
            <label class="text-white" for="sky_state">Etat du ciel : </label>
            {{ form.sky_state }}
        </div>
        <div class="form-group">
            <label class="text-white" for="water_state">Etat de l'eau : </label>
            {{ form.water_state }}
        </div>
        <button class="btn btn-primary m-3" name="valider" type="submit">Valider</button>
    </form>
</div>

{% endblock content %}