{% extends 'base.html' %}
{% load static %}
{% block title %}CatchFish - {% endblock title %}
{% block content %}

<div class="container catchfish">
    <div class="title">Formulaire de prise</div>
    
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="lure">Leurre utilisé : </label>
            {{ form.lure }}
            <i class="description" id="description"></i>
        </div>
        <div class="form-group">
            <label for="color_lure">Couleur du leurre : </label>
            {{ form.color_lure }}
        </div>
        <div class="form-group">
            <label for="sky_state">Etat du ciel : </label>
            {{ form.sky_state }}
        </div>
        <div class="form-group">
            <label for="water_state">Etat de l'eau : </label>
            {{ form.water_state }}
        </div>
        <button type="submit">Valider</button>
    </form>
</div>

{% endblock content %}