<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        {% block head %}{% endblock head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

        <!-- style.css -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>{% block title %}{% endblock title %}Leurres VS Stats</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm bg-dark">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand">
                        <img class="logo" src="{% static 'assets/images/logofish2.png' %}" alt="logo">
                    </a>
                    <div class="container navigation">
                        <ul class="d-flex p-0 justify-content-around list-unstyled">
                            <li class="list active">
                                <a href="#">
                                    <span class="icon" id="myicon">
                                        <ion-icon name="home-outline"></ion-icon>
                                    </span>
                                    <span class="text">Home</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#">
                                    <span class="icon">
                                        <ion-icon name="stats-chart-outline"></ion-icon>
                                    </span>
                                    <span class="text">Stats</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#">
                                    <span class="icon icon2">
                                        <ion-icon name="person-circle-outline"></ion-icon>
                                    </span>
                                    <span class="text">Profile</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#">
                                    <span class="icon icon2">
                                        <ion-icon name="search-outline"></ion-icon>
                                    </span>
                                    <span class="text">Search</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#">
                                    <span class="icon icon2">
                                        <ion-icon name="log-in-outline"></ion-icon>
                                        <!-- <ion-icon name="log-out-outline"></ion-icon> -->
                                    </span>
                                    <span class="text">Login</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock content %}
        
        <footer class="bg-dark d-flex flex-wrap justify-content-center align-items-center py-3 border-top">
            <div class="col-md-3 d-flex align-items-center">
                <span class="text-white">© 2022 FDLC Development</span>
            </div>
            <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
                <li class="ms-3 mt-1">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-github"></ion-icon>
                        </span>
                    </a>
                </li>
                <li class="ms-3 mt-1">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </span>
                    </a>
                </li>
                <li class="ms-3 mt-1">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </span>
                    </a>
                </li>
            </ul>
        </footer>
        {% block script %}
        {% endblock script %}
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>