<!DOCTYPE html> {% load static %}
<html lang="fr">

<head>
    {% block head %} {% endblock head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- style.css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock title %}Leurres VS Stats</title>
</head>
{% url 'index' as index %}
{% url 'stats' as stats %}
{% url 'search' as search %}
{% url 'profile' as profile %}
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">
                    <img class="logo" src="{% static 'assets/images/logofish2.png' %}" alt="logo">
                </a>
                <div class="container navigation">
                    <ul class="d-flex p-0 justify-content-around list-unstyled">
                        <li class="list {% if request.path == index %}active{% endif %}">
                            <a name="home" href="{{ index }}">
                                <span class="icon" id="myicon">
                                    <ion-icon name="home-outline"></ion-icon>
                                </span>
                                <span class="text">Home</span>
                            </a>
                        </li>
                        <li class="list {% if request.path == stats %}active{% endif %}" id="stats-link">
                            <a name="stats_link" href="{{ stats }}">
                                <span class="icon">
                                    <ion-icon name="stats-chart-outline"></ion-icon>
                                </span>
                                <span class="text">Stats</span>
                            </a>
                        </li>
                        <li class="list {% if request.path == search %}active{% endif %}">
                            <a name="search" href="{{ search }}">
                                <span class="icon icon2">
                                    <ion-icon name="search-outline"></ion-icon>
                                </span>
                                <span class="text">Search</span>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="list">
                            <a name="profile" href="{{ profile }}">
                                <span class="icon icon2">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                </span>
                                <span class="text">Profile</span>
                            </a>
                        </li>
                        <li class="list">
                            <a name="logout" href="{% url 'logout' %}">
                                <span class="icon icon2">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                </span>
                            </a>
                        </li>
                        {% else %}
                        <li class="list">
                            <a name="login" href="{% url 'login' %}">
                                <span class="icon icon2">
                                    <ion-icon name="log-in-outline"></ion-icon>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block content %} {% endblock content %}

    <footer class="bg-dark d-flex flex-wrap justify-content-center align-items-center py-3 border-top">
        <div class="col-md-3 d-flex align-items-center">
            <span class="text-white">© 2022 FDLC Development</span>
        </div>
        <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
            <li class="ms-3 mt-1" name="link-github">
                <a href="https://github.com/FaillHarder/P13--Leurres-vs-Stats">
                    <span class="icon">
                            <ion-icon name="logo-github"></ion-icon>
                        </span>
                </a>
            </li>
            <li class="ms-3 mt-1">
                <a href="#">
                    <span class="icon">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </span>
                </a>
            </li>
            <li class="ms-3 mt-1">
                <a href="#">
                    <span class="icon">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </span>
                </a>
            </li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block script %}
    {% endblock script %}
</body>

</html>